@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;
    --color-terciario: #0A3871;
    --color-textos: #343A40;
    --color-hover: #272727;

    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: 400px;
}


.logo{
    color: var(--color-terciario);
    display: flex;
    width: 120px;
    height: 48px;
    padding: 2.5rem;
}

.container{
    font: var(--fuente-inter);
    /* align-content: space-between; */
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primario);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.container__contenido{
    width: 400px;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
   
    justify-content: space-around; /* Distribuye el textarea y los botones */
    width: 100%;
    height: 100%;
}

.campo__visualizacion{

    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    background-color: var(--color-secundario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container__botones{
    /* width: 680px;
    height: 67px; */
    display: flex;
    justify-content: center;
    gap: 10px;    
}
.boton{
    width: 328px;
    height: 67px;
    border-radius: 1.5rem;
    gap: 8px;
    margin: 2rem;
}

/* .container__botones button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
.boton.darkButton{
    background-color: var(--color-terciario);
    color: #D8DFE8;
}

.boton.lightButton{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

textarea {
    width: 100%;
    height: auto;
    color: var(--color-terciario);
    line-height: 3rem;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}
.mensajeInformativo{
    display: flex;
    flex-direction: column;
    font-weight: 2rem;
    height: 90%;
    line-height: 2rem;
    padding: 24px;
    justify-content: center;
    align-items: center ;
    text-align: justify;
   
}

.mensajeResultado{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center ;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    color: #495057;
    width: 336px;
}


.hidden{
    display: none;
}
h2{
    color: var(--color-textos);
    font-weight: 700;
    width: 336px;
    height: 58px;
}
p{
    color: var(--color-textos);
    font-weight: 400;
    width: 336px;
    height: 58px;

}

.dibujo{
    width: 336px;
    height: 304px;
}

.notification {
    position: fixed;
    bottom: 200px;
    right: 300px;
    background-color: #343A40;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s;
}


.notification.show {
    opacity: 0.5;
}
