@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;
    --color-terciario: #0A3871;
    --color-textos: #343A40;
    --color-texto-secundario: #495057;
    --color-hover: #272727;
    --fuente-inter: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    height: 1024px;
    margin: 0 auto;
    width: 100%;
    background-color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.header {
    padding: 2% 0 0 15%;
}

.logo {
    color: var(--color-terciario);
    display: flex;
    padding: 2rem 3rem;
}

.container {
    background-color: var(--color-primario);
    display: flex;
    height: 90%;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;
}

.container__contenido {
    width: 400px;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.container__informaciones {
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}

.form {
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
    font-size: 2rem;
}

.campo__visualizacion {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    background-color: var(--color-secundario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    margin: 1rem;
 
}

.container__botones {
    width: auto;
    height: 67px;
    display: flex;
    justify-content: center;
}

.boton {
    display: inline-block;
    width: 300px;
    max-width: 300px;
    height: 67px;
    border-radius: 1.5rem;
    margin: 0.8rem;
}

.boton.darkButton {
    background-color: var(--color-terciario);
    color: #D8DFE8;
}

.boton.lightButton {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    max-width: 220px;
}

textarea {
    width: 90%;
    margin: 0.5rem;
    font-size: 2rem;
    color: var(--color-terciario);
    resize: none;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: var(--fuente-inter);
}

.mensajeInformativo {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 90%;
    line-height: 2rem;
    text-align: center;
}

.dibujo{
    width: 100%;
}

.mensajeResultado {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: var(--color-texto-secundario);
}

.hidden {
    display: none;
}

h2 {
    color: var(--color-textos);
    font-weight: 700;
    height: 58px;
    padding: 2rem;
}

p {
    color: var(--color-textos);
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    padding: 2rem 0; 
}


.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #343A40;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s;
}

.notification.show {
    opacity: 0.5;
}

footer {
    width: 100%;
    height: 3rem;
    background-color: var(--color-primario);
    text-align: left;
}

@media (max-width: 768px) {
    body {
        height: 933px;
    }

    .header {
        padding: 0;
    }

    .logo {
        padding: 1rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .container__contenido {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .container__informaciones {
        width: 90%;
        height: 186px;
    }

    textarea {
        font-size: 1.5rem;
        width: 90%;
    }

    .container__botones {
        width: 100%;
        gap: 0;
    }

    .container__botones button {
        width: 100%;
    }

    .campo__visualizacion {
        width: 90%;
        height: 286px;
        justify-content: space-around;
        gap: 2rem;
        word-wrap: break-word;
    }

    .boton {
        margin: 0.5rem;
    }

    .mensajeInformativo {
        width: 70%;
    }

    .mensajeInformativo h2,
    .mensajeResultado h2 {
        font-size: 1em;
    }

    .mensajeInformativo p,
    .mensajeResultado p {
        font-size: 0.9em;
    }

    .dibujo {
        display: none;
    }
}

@media (max-width: 376px) {
    .container__botones {
        flex-direction: column;
        height: 8rem;
    }

    .boton {
        height: 3rem;
        width: 100%;
        margin: 0.2rem;
        max-width: none;
    }
    .boton.lightButton {
        max-width: none;
    }

    .campo__visualizacion {
        height: 186px;
    }
}

